.titulo { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.jogadores {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.jogadores img {
    height: 250px;
    width: 250px;
}

.jogadores figcaption {
    text-align: center;
    text-decoration: none;
    color: black;
}